doctype html
head
  title View Calendar
  link(rel='stylesheet' type='text/css' href='../styles/calendar.css')
  link(rel='stylesheet' type='text/css' href='../styles/template.css')
.site-header
  .header-name
    h2 Full Stack
  .header-links
    a(href='../index.html')
      .link-wrapper
        | Map
    a(href='#')
      .link-wrapper
        | Calendar
.site-body
  .left-sidebar
  .site-content
    .calendar-view
      .calendar-background
        .calendar-wrapper
          form.date-form
            .heading-wrapper
              .month-wrapper
                select#month.date-dropdown(name='month' onchange='jump()')
                  option(value='' selected='' disabled='' hidden='') Month
                  option(value='0') Jan
                  option(value='1') Feb
                  option(value='2') Mar
                  option(value='3') Apr
                  option(value='4') May
                  option(value='5') Jun
                  option(value='6') Jul
                  option(value='7') Aug
                  option(value='8') Sep
                  option(value='9') Oct
                  option(value='10') Nov
                  option(value='11') Dec
              .year-wrapper
                select#year.date-dropdown(name='year' onchange='jump()')
                  option(value='Year' selected='' disabled='' hidden='') Year
                  option(value='2019') 2019
                  option(value='2020') 2020
                  option(value='2021') 2021
                  option(value='2022') 2022
                  option(value='2023') 2023
                  option(value='2024') 2024
                  option(value='2025') 2025
                  option(value='2026') 2026
                  option(value='2027') 2027
                  option(value='2028') 2028
                  option(value='2029') 2029
                  option(value='2030') 2030
                  option(value='2031') 2031
                  option(value='2032') 2032
                  option(value='2033') 2033
                  option(value='2034') 2034
                  option(value='2035') 2035
                  option(value='2036') 2036
                  option(value='2037') 2037
                  option(value='2038') 2038
                  option(value='2039') 2039
                  option(value='2040') 2040
                  option(value='2041') 2041
                  option(value='2042') 2042
                  option(value='2043') 2043
                  option(value='2044') 2044
                  option(value='2045') 2045
                  option(value='2046') 2046
                  option(value='2047') 2047
                  option(value='2048') 2048
                  option(value='2049') 2049
                  option(value='2050') 2050
                  option(value='2051') 2051
                  option(value='2052') 2052
                  option(value='2053') 2053
                  option(value='2054') 2054
                  option(value='2055') 2055
                  option(value='2056') 2056
                  option(value='2057') 2057
                  option(value='2058') 2058
                  option(value='2059') 2059
                  option(value='2060') 2060
              .month-and-year-wrapper
                h2#month-and-year.calendar-current-date
          #calendar.calendar
            .calendar-header
              #Sun Sun
              #Mon Mon
              #Tues Tue
              #Wed Wed
              #Thu Thu
              #Fri Fri
              #Sat Sat
            #calendar-body
          .quick-actions
            button#previous.movement_buttons(onclick='previous()')
              | Previous
            button#today.movement_buttons(onclick='base()')
              | Selected Date
            button#next.movement_buttons(onclick='next()')
              | Next
          br
      .daily-view-background
        .daily-view-wrapper
          #daily-view-header.daily-view-header
            h2#daily-view-date
          .daily-view-body
            .daily-view-grid-wrapper
              .daily-view-grid
                .daily-view-labels
                  .daily-view-label 12 a.m.
                  .daily-view-label 1 a.m.
                  .daily-view-label 2 a.m.
                  .daily-view-label 3 a.m.
                  .daily-view-label 4 a.m.
                  .daily-view-label 5 a.m.
                  .daily-view-label 6 a.m.
                  .daily-view-label 7 a.m.
                  .daily-view-label 8 a.m.
                  .daily-view-label 9 a.m.
                  .daily-view-label 10 a.m.
                  .daily-view-label 11 a.m.
                  .daily-view-label 12 p.m.
                  .daily-view-label 1 p.m.
                  .daily-view-label 2 p.m.
                  .daily-view-label 3 p.m.
                  .daily-view-label 4 p.m.
                  .daily-view-label 5 p.m.
                  .daily-view-label 6 p.m.
                  .daily-view-label 7 p.m.
                  .daily-view-label 8 p.m.
                  .daily-view-label 9 p.m.
                  .daily-view-label 10 p.m.
                  .daily-view-label 11 p.m.
                #daily-view-grid.daily-view-hourly
                  #0-1.daily-view-hour.first
                  #0-2.daily-view-hour.second
                  #1-1.daily-view-hour.first
                  #1-2.daily-view-hour.second
                  #2-1.daily-view-hour.first
                  #2-2.daily-view-hour.second
                  #3-1.daily-view-hour.first
                  #3-2.daily-view-hour.second
                  #4-1.daily-view-hour.first
                  #4-2.daily-view-hour.second
                  #5-1.daily-view-hour.first
                  #5-2.daily-view-hour.second
                  #6-1.daily-view-hour.first
                  #6-2.daily-view-hour.second
                  #7-1.daily-view-hour.first
                  #7-2.daily-view-hour.second
                  #8-1.daily-view-hour.first
                  #8-2.daily-view-hour.second
                  #9-1.daily-view-hour.first
                  #9-2.daily-view-hour.second
                  #10-1.daily-view-hour.first
                  #10-2.daily-view-hour.second
                  #11-1.daily-view-hour.first
                  #11-2.daily-view-hour.second
                  #12-1.daily-view-hour.first
                  #12-2.daily-view-hour.second
                  #13-1.daily-view-hour.first
                  #13-2.daily-view-hour.second
                  #14-1.daily-view-hour.first
                  #14-2.daily-view-hour.second
                  #15-1.daily-view-hour.first
                  #15-2.daily-view-hour.second
                  #16-1.daily-view-hour.first
                  #16-2.daily-view-hour.second
                  #17-1.daily-view-hour.first
                  #17-2.daily-view-hour.second
                  #18-1.daily-view-hour.first
                  #18-2.daily-view-hour.second
                  #19-1.daily-view-hour.first
                  #19-2.daily-view-hour.second
                  #20-1.daily-view-hour.first
                  #20-2.daily-view-hour.second
                  #21-1.daily-view-hour.first
                  #21-2.daily-view-hour.second
                  #22-1.daily-view-hour.first
                  #22-2.daily-view-hour.second
                  #23-1.daily-view-hour.first
                  #23-2.daily-view-hour.second
  .right-sidebar
script(src='../calendar.js')
