doctype html
head
  title User Calendar
  link(rel='stylesheet' type='text/css' href='styles/style.css')
  link(rel='stylesheet' type='text/css' href='styles/template.css')
.site-header
  .header-name
    h2 Map Calendar
  .header-links
    a(href='/home')
      .link-wrapper
        | Map
    a(href='/calendar')
      .link-wrapper
        | Calendar
    a(href='/')
      .link-wrapper
        | Sign Out
.site-body
  .left-sidebar
  .page-content
    .map-wrap
      #map
  .right-sidebar
script(type='text/javascript' id='map-data' data-user=user data-home=address data-coords=lnglat src='map.js')
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
script(async='' defer='' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAYNWMjJ6GEX_Ja-l9iWLVFnzh4MCxSvE0&libraries=places&callback=initMap')

