
ctype html
head
  link(rel='stylesheet' type='text/css' href='../styles/template.css')
.site-header
  .header-name
    h2 Full Stack
  .header-links
    a(href='../index.html')
      .link-wrapper
        | Map
    a(href='calendar.html')
      .link-wrapper
        | Calendar
.site-body
  .left-sidebar
  .page-content
    // content goes here
    | Hello World
  .right-sidebar
footer
  // maybe a simple footer
